<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../../static/layui/css/layui.css" media="all"/>
</head>
<body>
<div class="content">
	<form id="form" class="layui-form" action="" lay-filter="formbox">
		<input type="hidden" id="id" name="id">
		<div class="layui-form-item" style="margin-top: 20px;">
			<div class="layui-input-block" style="color: red; margin-left: 60px;">密码格式：6-16位，字母、数字组合</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">原密码</label>
			<div class="layui-input-inline">
				<input  id="oldPassword"
						name="oldPassword"
						required
						lay-verify="required"
						type="password"
						autocomplete="off"
						class="layui-input"
						minlength="6"
						maxlength="16"
						placeholder="请输入">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">新密码</label>
			<div class="layui-input-inline">
				<input  id="newPassword"
						name="newPassword"
						required
						lay-verify="required"
						type="password"
						autocomplete="off"
						class="layui-input"
						minlength="6"
						maxlength="16"
						placeholder="请输入">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">确认新密码</label>
			<div class="layui-input-inline">
				<input  id="newPassword2"
						name="newPassword2"
						required
						lay-verify="required"
						type="password"
						autocomplete="off"
						class="layui-input"
						minlength="6"
						maxlength="16"
						placeholder="请输入">
			</div>
		</div>
		<div class="layui-input-block">
			<button type="reset" class="layui-btn layui-btn-primary">取消</button>
			<button permission="sys:user:password" class="layui-btn" lay-submit lay-filter="formSubmit">保存</button>
		</div>
	</form>
</div>
<script type="text/javascript" src="../../../static/js/libs/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../../../static/layui/layui.js"></script>
<script type="text/javascript" src="../../../static/js/util.js"></script>
<script type="text/javascript" src="../../../static/js/my/permission.js"></script>
<script type="text/javascript" src="../../../static/js/common.js"></script>
<script>
	checkPermission();
    layui.use(['form','layer'], function () {
        var layer = layui.layer,form = layui.form;
        form.on('submit(formSubmit)', function (formdata) {
            var fd = formdata.field;

            changePwd(fd);
            return false
        });

        function changePwd(fd) {
            $.ajax({
                url: ajaxHttp()+'/system/auth/user/changePassword',
                data:  fd,
                success: function (data) {
                    if(data.status=='success'){
                        $.ajax({
                            url : http+'/system/auth/logout',
                        });
                        alert('密码修改成功,请重新登陆！')
                        location.href = '../../../views/login.html';
                    }else{
                        successService(layer, data, null, null);
                    }
                }
            });
        }
    });
</script>
</body>
</html>